<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <form
      action="http://localhost:5000/inputval"
      method="POST"
      enctype="multipart/form-data"
    >
    <div>
      <label for="r">Recency Score: </label>
      <input type="number" id="r" name="valuer" min="0" max="365">
    </div>

    <div>
      <label for="f">Frequency Score: </label>
      <input type="number" id="r" name="valuef" min="0" max="1000">
    </div>

    <div>
      <label for="m">Monetary Score: </label>
      <input type="number" id="r" name="valuem" min="0" max="99999">
      <input class="ipSubmit" type="submit" value="Submit" />
    </div>
    
    </form>
    <!-- {% for table in tables %} {{titles[loop.index]}} {{ table|safe }} {% endfor
    %} -->
    <button><a href="/select_algo">Select Algorithm</a></button>
