<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content-section">
          <form method="POST" action="/select_features">
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">IDs to select</legend>
              {%for i in ids%}
              <li>
                <input type="checkbox" name="ids" value="{{i}}" />
                <label for="ids">{{i}}</label>
              </li>
              {% endfor %}
            </fieldset>
            <input type="submit" value="Submit" />
          </form>
          <div>
            <button type="submit" class="btn btn-success">
              <a href="\inputval">Enter the values</a>
            </button>
          </div>
        </div>
      </div>
</body>
